.messagebox {
    width: 550px;
    height: 500px;
    background-color: cyan;
    border-radius: 25px;
    padding: 10px;
    text-align: left;
    
    overflow-y: scroll;
    
    margin-left: 70px;
    margin-top: 190px;
}